<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pm.dsis.mm.mapper.UserInfoMapper" >
    <resultMap id="BaseResultMap" type="com.pm.dsis.mm.dto.UserInfo" >
        <id column="USER_ID" property="userId" jdbcType="BIGINT" />
        <result column="USER_ACCOUNT" property="userAccount" jdbcType="VARCHAR" />
        <result column="USER_PASSWORD" property="userPassword" jdbcType="VARCHAR" />
        <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
        <result column="USER_NATIONAL" property="userNational" jdbcType="VARCHAR" />
        <result column="USER_GENDER" property="userGender" jdbcType="VARCHAR" />
        <result column="USER_NATIVE_PLACE" property="userNativePlace" jdbcType="VARCHAR" />
        <result column="USER_ID_NUMBER" property="userIdNumber" jdbcType="VARCHAR" />
        <result column="FIXED_TELEPHONE" property="fixedTelephone" jdbcType="VARCHAR" />
        <result column="USER_QQ" property="userQq" jdbcType="VARCHAR" />
        <result column="USER_EMAIL" property="userEmail" jdbcType="VARCHAR" />
        <result column="USER_PHONE" property="userPhone" jdbcType="VARCHAR" />
        <result column="USER_WE_CHAT" property="userWeChat" jdbcType="VARCHAR" />
        <result column="USER_BLOG" property="userBlog" jdbcType="VARCHAR" />
        <result column="USER_WORK_UNITS" property="userWorkUnits" jdbcType="VARCHAR" />
        <result column="USER_DEPARTMENT" property="userDepartment" jdbcType="VARCHAR" />
        <result column="USER_HOME_ADDRESS" property="userHomeAddress" jdbcType="VARCHAR" />
        <result column="USER_CORRESPONDENCE_ADDRESS" property="userCorrespondenceAddress" jdbcType="VARCHAR" />
        <result column="USER_CAR_BRAND" property="userCarBrand" jdbcType="VARCHAR" />
        <result column="USER_HOBBY" property="userHobby" jdbcType="VARCHAR" />
        <result column="EMERGENCY_CONTACT" property="emergencyContact" jdbcType="VARCHAR" />
        <result column="EMERGENCY_CONTACT_PHONE" property="emergencyContactPhone" jdbcType="VARCHAR" />
        <result column="USER_TABOO" property="userTaboo" jdbcType="VARCHAR" />
        <result column="USER_NOTE" property="userNote" jdbcType="VARCHAR" />
        <result column="OBJECT" property="object" jdbcType="VARCHAR" />
        <result column="ATTRIBUTE1" property="attribute1" jdbcType="VARCHAR" />
        <result column="ATTRIBUTE2" property="attribute2" jdbcType="VARCHAR" />
        <result column="ATTRIBUTE3" property="attribute3" jdbcType="VARCHAR" />
        <result column="ATTRIBUTE4" property="attribute4" jdbcType="VARCHAR" />
        <result column="ATTRIBUTE5" property="attribute5" jdbcType="VARCHAR" />
        <result column="ATTRIBUTE6" property="attribute6" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        USER_ID, USER_ACCOUNT, USER_PASSWORD, USER_NAME, USER_NATIONAL, USER_GENDER, USER_NATIVE_PLACE,
        USER_ID_NUMBER, FIXED_TELEPHONE, USER_QQ, USER_EMAIL, USER_PHONE, USER_WE_CHAT, USER_BLOG,
        USER_WORK_UNITS, USER_DEPARTMENT, USER_HOME_ADDRESS, USER_CORRESPONDENCE_ADDRESS,
        USER_CAR_BRAND, USER_HOBBY, EMERGENCY_CONTACT, EMERGENCY_CONTACT_PHONE, USER_TABOO,
        USER_NOTE,OBJECT, ATTRIBUTE1, ATTRIBUTE2, ATTRIBUTE3, ATTRIBUTE4, ATTRIBUTE5, ATTRIBUTE6
    </sql>

    <sql id="Base_Column_List1" >
        ui.USER_ID, USER_ACCOUNT, USER_PASSWORD, USER_NAME, USER_NATIONAL, USER_GENDER, USER_NATIVE_PLACE,
        USER_ID_NUMBER, FIXED_TELEPHONE, USER_QQ, USER_EMAIL, USER_PHONE, USER_WE_CHAT, USER_BLOG,
        USER_WORK_UNITS, USER_DEPARTMENT, USER_HOME_ADDRESS, USER_CORRESPONDENCE_ADDRESS,
        USER_CAR_BRAND, USER_HOBBY, EMERGENCY_CONTACT, EMERGENCY_CONTACT_PHONE, USER_TABOO,
        USER_NOTE,OBJECT, ui.ATTRIBUTE1, ui.ATTRIBUTE2, ui.ATTRIBUTE3, ui.ATTRIBUTE4, ui.ATTRIBUTE5, ui.ATTRIBUTE6
    </sql>

    <select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select
        <include refid="Base_Column_List" />
        from user_info
        where USER_ID = #{userId,jdbcType=BIGINT}
    </select>

    <select id="selectActiveUserInfo" resultMap="BaseResultMap" parameterType="com.pm.dsis.mm.dto.UserInfo" >
        select
        <include refid="Base_Column_List1" />
        from user_info ui, building_info bi
        where ui.USER_ID = bi.USER_ID
        AND bi.BUILDING_FULL_ROOM = #{buildingFullRoom}
        AND ui.USER_NAME = #{userName}
        AND ui.USER_ID_NUMBER = #{userIdNumber}
        AND ui.ATTRIBUTE1 = 'N'
    </select>

    <select id="active" resultMap="BaseResultMap" parameterType="com.pm.dsis.mm.dto.UserInfo" >
        select
        <include refid="Base_Column_List1" />
        from user_info ui, building_info bi
        where ui.USER_ID = bi.USER_ID
        AND bi.BUILDING_FULL_ROOM = #{buildingFullRoom}
        AND ui.USER_NAME = #{userName}
        AND ui.USER_ID_NUMBER = #{userIdNumber}
        AND ui.ATTRIBUTE1 = 'Y'
    </select>

    <select id="selectLoginUserInfo" resultMap="BaseResultMap" parameterType="com.pm.dsis.mm.dto.UserInfo" >
        select
        <include refid="Base_Column_List" />
        from user_info
        where USER_ACCOUNT = #{userAccount}
        AND USER_PASSWORD = #{userPassword}
        AND ATTRIBUTE1 = 'Y'
    </select>


    <select id="selectAccount" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from user_info
        where USER_ACCOUNT = #{userAccount}
    </select>

    <select id="selectAccountByPhone" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List" />
        from user_info
        WHERE USER_ACCOUNT = #{account}
        AND USER_PHONE = #{phone}
    </select>

    <insert id="insertUserInfo" parameterType="com.pm.dsis.mm.dto.UserInfo" >
    insert into USER_INFO (USER_ACCOUNT, USER_PASSWORD,
        USER_NAME, USER_NATIONAL, USER_GENDER,
        USER_NATIVE_PLACE, USER_ID_NUMBER, FIXED_TELEPHONE,
        USER_QQ, USER_EMAIL, USER_PHONE,
        USER_WE_CHAT, USER_BLOG, USER_WORK_UNITS,
        USER_DEPARTMENT, USER_HOME_ADDRESS, USER_CORRESPONDENCE_ADDRESS,
        USER_CAR_BRAND, USER_HOBBY, EMERGENCY_CONTACT,
        EMERGENCY_CONTACT_PHONE, USER_TABOO, USER_NOTE,OBJECT,
        ATTRIBUTE1, ATTRIBUTE2, ATTRIBUTE3,
        ATTRIBUTE4,ATTRIBUTE5,ATTRIBUTE6)
    values (#{userAccount,jdbcType=VARCHAR},'123',
        #{userName,jdbcType=VARCHAR}, #{userNational,jdbcType=VARCHAR}, #{userGender,jdbcType=VARCHAR},
        #{userNativePlace,jdbcType=VARCHAR}, #{userIdNumber,jdbcType=VARCHAR}, #{fixedTelephone,jdbcType=VARCHAR},
        #{userQq,jdbcType=VARCHAR}, #{userEmail,jdbcType=VARCHAR}, #{userPhone,jdbcType=VARCHAR},
        #{userWeChat,jdbcType=VARCHAR}, #{userBlog,jdbcType=VARCHAR}, #{userWorkUnits,jdbcType=VARCHAR},
        #{userDepartment,jdbcType=VARCHAR}, #{userHomeAddress,jdbcType=VARCHAR}, #{userCorrespondenceAddress,jdbcType=VARCHAR},
        #{userCarBrand,jdbcType=VARCHAR}, #{userHobby,jdbcType=VARCHAR}, #{emergencyContact,jdbcType=VARCHAR},
        #{emergencyContactPhone,jdbcType=VARCHAR}, #{userTaboo,jdbcType=VARCHAR}, #{userNote,jdbcType=VARCHAR}, #{object,jdbcType=VARCHAR},
        'N', #{attribute2,jdbcType=VARCHAR}, #{attribute3,jdbcType=VARCHAR},
        #{attribute4,jdbcType=VARCHAR},#{attribute5,jdbcType=VARCHAR},#{attribute6,jdbcType=VARCHAR}
      )
  </insert>

    <select id="queryUserId" resultType="java.lang.Long" >
        select last_insert_id()
    </select>


    <update id="updateByUserId" parameterType="com.pm.dsis.mm.dto.UserInfo" >
        update user_info
        set USER_ACCOUNT = #{userAccount,jdbcType=VARCHAR},
        USER_PASSWORD = #{userPassword,jdbcType=VARCHAR},
        USER_NAME = #{userName,jdbcType=VARCHAR},
        USER_NATIONAL = #{userNational,jdbcType=VARCHAR},
        USER_GENDER = #{userGender,jdbcType=VARCHAR},
        USER_NATIVE_PLACE = #{userNativePlace,jdbcType=VARCHAR},
        USER_ID_NUMBER = #{userIdNumber,jdbcType=VARCHAR},
        FIXED_TELEPHONE = #{fixedTelephone,jdbcType=VARCHAR},
        USER_QQ = #{userQq,jdbcType=VARCHAR},
        USER_EMAIL = #{userEmail,jdbcType=VARCHAR},
        USER_PHONE = #{userPhone,jdbcType=VARCHAR},
        USER_WE_CHAT = #{userWeChat,jdbcType=VARCHAR},
        USER_BLOG = #{userBlog,jdbcType=VARCHAR},
        USER_WORK_UNITS = #{userWorkUnits,jdbcType=VARCHAR},
        USER_DEPARTMENT = #{userDepartment,jdbcType=VARCHAR},
        USER_HOME_ADDRESS = #{userHomeAddress,jdbcType=VARCHAR},
        USER_CORRESPONDENCE_ADDRESS = #{userCorrespondenceAddress,jdbcType=VARCHAR},
        USER_CAR_BRAND = #{userCarBrand,jdbcType=VARCHAR},
        USER_HOBBY = #{userHobby,jdbcType=VARCHAR},
        EMERGENCY_CONTACT = #{emergencyContact,jdbcType=VARCHAR},
        EMERGENCY_CONTACT_PHONE = #{emergencyContactPhone,jdbcType=VARCHAR},
        USER_TABOO = #{userTaboo,jdbcType=VARCHAR},
        USER_NOTE = #{userNote,jdbcType=VARCHAR},
        OBJECT = #{object},
        ATTRIBUTE1 = #{attribute1,jdbcType=VARCHAR},
        ATTRIBUTE2 = #{attribute2,jdbcType=VARCHAR},
        ATTRIBUTE3 = #{attribute3,jdbcType=VARCHAR},
        ATTRIBUTE4 = #{attribute4,jdbcType=VARCHAR},
        ATTRIBUTE5 = #{attribute5,jdbcType=VARCHAR},
        ATTRIBUTE6 = #{attribute6,jdbcType=VARCHAR}
        where USER_ID = #{userId,jdbcType=BIGINT}
    </update>

    <update id="resetPwd">
        update user_info
        set user_password = #{newPwd}
        where user_id = #{userId}
        and user_password = #{oldPwd}
    </update>

    <update id="updateByAccount">
        update user_info
        set user_password = #{newPwd}
        where user_account = #{account}
    </update>
</mapper>






