<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>物业管理</title>
<script src="../../../kendoui/kendoui/js/jquery.min.js"></script>
<script src="../../../kendoui/kendoui/"></script>
<link href="../../../kendoui/bootstrap-3.3.7/css/bootstrap.css" rel="stylesheet" type="text/css"/>
<link href="../../../kendoui/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="../../../kendoui/kendoui/styles/kendo.common-bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="../../../kendoui/kendoui/styles/kendo.bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="../../../kendoui/kendoui/styles/kendo.hap.css" rel="stylesheet" type="text/css"/>
<!--<script src="./lib/kendoui/js/cultures/kendo.culture.${base.locale.toString()?replace('_','-')}.js"></script>
<script src="./lib/kendoui/js/messages/kendo.messages.${base.locale.toString()?replace('_','-')}.js"></script>-->
<script src="../../../kendoui/kendoui/js/kendo.hap.js"></script>
<script src="../../../kendoui/polyfill/es5-shim.min.js"></script>
    <script src="../../../kendoui/polyfill/respond.min.js"></script>
</head>
