<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pm.dsis.cm.mapper.ElectricityAmountMapper" >
  <resultMap id="BaseResultMap" type="com.pm.dsis.cm.dto.ElectricityAmount" >
    <id column="EA_ID" property="eaId" jdbcType="BIGINT" />
    <result column="BUILDING_FULL_ROOM" property="buildingFullRoom" jdbcType="BIGINT" />
    <result column="EA_NUMBER" property="eaNumber" jdbcType="REAL" />
    <result column="EA_MONTH" property="eaMonth" jdbcType="INTEGER" />
    <result column="EA_BIGEN_DATE" property="eaBigenDate" jdbcType="DATE" />
    <result column="EA_END_DATE" property="eaEndDate" jdbcType="DATE" />
    <result column="EA_WRITER" property="eaWriter" jdbcType="VARCHAR" />
    <result column="EA_DOSAGE" property="eaDosage" jdbcType="VARCHAR" />
    <result column="MONTH_FEE" property="monthFee" jdbcType="VARCHAR" />
    <result column="EA_FLAG" property="eaFlag" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE1" property="attribute1" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE2" property="attribute2" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE3" property="attribute3" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE4" property="attribute4" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE5" property="attribute5" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE6" property="attribute6" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    EA_ID, BUILDING_FULL_ROOM, EA_NUMBER, EA_MONTH, EA_BIGEN_DATE, EA_END_DATE, EA_WRITER, EA_FLAG,
    EA_DOSAGE,MONTH_FEE,ATTRIBUTE1, ATTRIBUTE2, ATTRIBUTE3, ATTRIBUTE4, ATTRIBUTE5, ATTRIBUTE6
  </sql>

  <select id="selectByRoomMonth" resultMap="BaseResultMap"  >
    select
    <include refid="Base_Column_List" />
    from electricity_amount
    where EA_MONTH = #{eaMonth}
    and BUILDING_FULL_ROOM = #{buildingFullRoom}
  </select>

  <select id="selectByMonth" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
  select
  <include refid="Base_Column_List" />
  from electricity_amount
  where EA_MONTH = #{eaMonth,jdbcType=BIGINT}
</select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from electricity_amount
    where EA_ID = #{eaId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByEAId" parameterType="java.lang.Long" >
    delete from electricity_amount
    where EA_ID = #{eaId,jdbcType=BIGINT}
  </delete>

  <insert id="insertElect" parameterType="com.pm.dsis.cm.dto.ElectricityAmount" >
    insert into electricity_amount (BUILDING_FULL_ROOM, EA_NUMBER,
      EA_MONTH, EA_BIGEN_DATE, EA_END_DATE, 
      EA_WRITER, EA_FLAG, EA_DOSAGE, MONTH_FEE, ATTRIBUTE1,
      ATTRIBUTE2, ATTRIBUTE3, ATTRIBUTE4, 
      ATTRIBUTE5, ATTRIBUTE6)
    values (#{buildingFullRoom}, #{eaNumber,jdbcType=REAL},
      #{eaMonth,jdbcType=INTEGER}, #{eaBigenDate,jdbcType=DATE}, #{eaEndDate,jdbcType=DATE}, 
      #{eaWriter,jdbcType=VARCHAR}, 'N', #{eaDosage}, #{monthFee}, #{attribute1,jdbcType=VARCHAR},
      #{attribute2,jdbcType=VARCHAR}, #{attribute3,jdbcType=VARCHAR}, #{attribute4,jdbcType=VARCHAR}, 
      #{attribute5,jdbcType=VARCHAR}, #{attribute6,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pm.dsis.cm.dto.ElectricityAmount" >
    insert into electricity_amount
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="eaId != null" >
        EA_ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="eaNumber != null" >
        EA_NUMBER,
      </if>
      <if test="eaMonth != null" >
        EA_MONTH,
      </if>
      <if test="eaBigenDate != null" >
        EA_BIGEN_DATE,
      </if>
      <if test="eaEndDate != null" >
        EA_END_DATE,
      </if>
      <if test="eaWriter != null" >
        EA_WRITER,
      </if>
      <if test="eaFlag != null" >
        EA_FLAG,
      </if>
      <if test="attribute1 != null" >
        ATTRIBUTE1,
      </if>
      <if test="attribute2 != null" >
        ATTRIBUTE2,
      </if>
      <if test="attribute3 != null" >
        ATTRIBUTE3,
      </if>
      <if test="attribute4 != null" >
        ATTRIBUTE4,
      </if>
      <if test="attribute5 != null" >
        ATTRIBUTE5,
      </if>
      <if test="attribute6 != null" >
        ATTRIBUTE6,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="eaId != null" >
        #{eaId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="eaNumber != null" >
        #{eaNumber,jdbcType=REAL},
      </if>
      <if test="eaMonth != null" >
        #{eaMonth,jdbcType=INTEGER},
      </if>
      <if test="eaBigenDate != null" >
        #{eaBigenDate,jdbcType=DATE},
      </if>
      <if test="eaEndDate != null" >
        #{eaEndDate,jdbcType=DATE},
      </if>
      <if test="eaWriter != null" >
        #{eaWriter,jdbcType=VARCHAR},
      </if>
      <if test="eaFlag != null" >
        #{eaFlag,jdbcType=VARCHAR},
      </if>
      <if test="attribute1 != null" >
        #{attribute1,jdbcType=VARCHAR},
      </if>
      <if test="attribute2 != null" >
        #{attribute2,jdbcType=VARCHAR},
      </if>
      <if test="attribute3 != null" >
        #{attribute3,jdbcType=VARCHAR},
      </if>
      <if test="attribute4 != null" >
        #{attribute4,jdbcType=VARCHAR},
      </if>
      <if test="attribute5 != null" >
        #{attribute5,jdbcType=VARCHAR},
      </if>
      <if test="attribute6 != null" >
        #{attribute6,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.pm.dsis.cm.dto.ElectricityAmount" >
    update electricity_amount
    <set >
      <if test="userId != null" >
        BUILDING_FULL_ROOM = #{buildingFullRoom,jdbcType=BIGINT},
      </if>
      <if test="eaNumber != null" >
        EA_NUMBER = #{eaNumber,jdbcType=REAL},
      </if>
      <if test="eaMonth != null" >
        EA_MONTH = #{eaMonth,jdbcType=INTEGER},
      </if>
      <if test="eaBigenDate != null" >
        EA_BIGEN_DATE = #{eaBigenDate,jdbcType=DATE},
      </if>
      <if test="eaEndDate != null" >
        EA_END_DATE = #{eaEndDate,jdbcType=DATE},
      </if>
      <if test="eaWriter != null" >
        EA_WRITER = #{eaWriter,jdbcType=VARCHAR},
      </if>
      <if test="eaFlag != null" >
        EA_FLAG = #{eaFlag,jdbcType=VARCHAR},
      </if>
      <if test="attribute1 != null" >
        ATTRIBUTE1 = #{attribute1,jdbcType=VARCHAR},
      </if>
      <if test="attribute2 != null" >
        ATTRIBUTE2 = #{attribute2,jdbcType=VARCHAR},
      </if>
      <if test="attribute3 != null" >
        ATTRIBUTE3 = #{attribute3,jdbcType=VARCHAR},
      </if>
      <if test="attribute4 != null" >
        ATTRIBUTE4 = #{attribute4,jdbcType=VARCHAR},
      </if>
      <if test="attribute5 != null" >
        ATTRIBUTE5 = #{attribute5,jdbcType=VARCHAR},
      </if>
      <if test="attribute6 != null" >
        ATTRIBUTE6 = #{attribute6,jdbcType=VARCHAR},
      </if>
    </set>
    where EA_ID = #{eaId,jdbcType=BIGINT}
  </update>
  <update id="updateElectById" parameterType="com.pm.dsis.cm.dto.ElectricityAmount" >
    update electricity_amount
    set BUILDING_FULL_ROOM = #{buildingFullRoom,jdbcType=BIGINT},
      EA_NUMBER = #{eaNumber,jdbcType=REAL},
      EA_MONTH = #{eaMonth,jdbcType=INTEGER},
      EA_BIGEN_DATE = #{eaBigenDate,jdbcType=DATE},
      EA_END_DATE = #{eaEndDate,jdbcType=DATE},
      EA_WRITER = #{eaWriter,jdbcType=VARCHAR},
      EA_FLAG = #{eaFlag,jdbcType=VARCHAR},
      MONTH_FEE = #{monthFee},
      EA_DOSAGE = #{eaDosage},
      ATTRIBUTE1 = #{attribute1,jdbcType=VARCHAR},
      ATTRIBUTE2 = #{attribute2,jdbcType=VARCHAR},
      ATTRIBUTE3 = #{attribute3,jdbcType=VARCHAR},
      ATTRIBUTE4 = #{attribute4,jdbcType=VARCHAR},
      ATTRIBUTE5 = #{attribute5,jdbcType=VARCHAR},
      ATTRIBUTE6 = #{attribute6,jdbcType=VARCHAR}
    where EA_ID = #{eaId,jdbcType=BIGINT}
  </update>
</mapper>