<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pm.dsis.fee.mapper.PmUnitPriceMapper" >
  <resultMap id="BaseResultMap" type="com.pm.dsis.fee.dto.PmUnitPrice" >
    <id column="PM_UP_ID" property="pmUpId" jdbcType="BIGINT" />
    <result column="BUILDING_TYPE_ID" property="buildingTypeId" jdbcType="BIGINT" />
    <result column="PM_UP_PRICE" property="pmUpPrice" jdbcType="REAL" />
    <result column="ATTRIBUTE1" property="attribute1" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE2" property="attribute2" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE3" property="attribute3" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE4" property="attribute4" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE5" property="attribute5" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE6" property="attribute6" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    PM_UP_ID, BUILDING_TYPE_ID, PM_UP_PRICE, ATTRIBUTE1, ATTRIBUTE2, ATTRIBUTE3, ATTRIBUTE4, 
    ATTRIBUTE5, ATTRIBUTE6
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from pm_unit_price
    where PM_UP_ID = #{pmUpId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from pm_unit_price
    where PM_UP_ID = #{pmUpId,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.pm.dsis.fee.dto.PmUnitPrice" >
    insert into pm_unit_price (PM_UP_ID, BUILDING_TYPE_ID, PM_UP_PRICE, 
      ATTRIBUTE1, ATTRIBUTE2, ATTRIBUTE3, 
      ATTRIBUTE4, ATTRIBUTE5, ATTRIBUTE6
      )
    values (#{pmUpId,jdbcType=BIGINT}, #{buildingTypeId,jdbcType=BIGINT}, #{pmUpPrice,jdbcType=REAL}, 
      #{attribute1,jdbcType=VARCHAR}, #{attribute2,jdbcType=VARCHAR}, #{attribute3,jdbcType=VARCHAR}, 
      #{attribute4,jdbcType=VARCHAR}, #{attribute5,jdbcType=VARCHAR}, #{attribute6,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pm.dsis.fee.dto.PmUnitPrice" >
    insert into pm_unit_price
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pmUpId != null" >
        PM_UP_ID,
      </if>
      <if test="buildingTypeId != null" >
        BUILDING_TYPE_ID,
      </if>
      <if test="pmUpPrice != null" >
        PM_UP_PRICE,
      </if>
      <if test="attribute1 != null" >
        ATTRIBUTE1,
      </if>
      <if test="attribute2 != null" >
        ATTRIBUTE2,
      </if>
      <if test="attribute3 != null" >
        ATTRIBUTE3,
      </if>
      <if test="attribute4 != null" >
        ATTRIBUTE4,
      </if>
      <if test="attribute5 != null" >
        ATTRIBUTE5,
      </if>
      <if test="attribute6 != null" >
        ATTRIBUTE6,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pmUpId != null" >
        #{pmUpId,jdbcType=BIGINT},
      </if>
      <if test="buildingTypeId != null" >
        #{buildingTypeId,jdbcType=BIGINT},
      </if>
      <if test="pmUpPrice != null" >
        #{pmUpPrice,jdbcType=REAL},
      </if>
      <if test="attribute1 != null" >
        #{attribute1,jdbcType=VARCHAR},
      </if>
      <if test="attribute2 != null" >
        #{attribute2,jdbcType=VARCHAR},
      </if>
      <if test="attribute3 != null" >
        #{attribute3,jdbcType=VARCHAR},
      </if>
      <if test="attribute4 != null" >
        #{attribute4,jdbcType=VARCHAR},
      </if>
      <if test="attribute5 != null" >
        #{attribute5,jdbcType=VARCHAR},
      </if>
      <if test="attribute6 != null" >
        #{attribute6,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.pm.dsis.fee.dto.PmUnitPrice" >
    update pm_unit_price
    <set >
      <if test="buildingTypeId != null" >
        BUILDING_TYPE_ID = #{buildingTypeId,jdbcType=BIGINT},
      </if>
      <if test="pmUpPrice != null" >
        PM_UP_PRICE = #{pmUpPrice,jdbcType=REAL},
      </if>
      <if test="attribute1 != null" >
        ATTRIBUTE1 = #{attribute1,jdbcType=VARCHAR},
      </if>
      <if test="attribute2 != null" >
        ATTRIBUTE2 = #{attribute2,jdbcType=VARCHAR},
      </if>
      <if test="attribute3 != null" >
        ATTRIBUTE3 = #{attribute3,jdbcType=VARCHAR},
      </if>
      <if test="attribute4 != null" >
        ATTRIBUTE4 = #{attribute4,jdbcType=VARCHAR},
      </if>
      <if test="attribute5 != null" >
        ATTRIBUTE5 = #{attribute5,jdbcType=VARCHAR},
      </if>
      <if test="attribute6 != null" >
        ATTRIBUTE6 = #{attribute6,jdbcType=VARCHAR},
      </if>
    </set>
    where PM_UP_ID = #{pmUpId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pm.dsis.fee.dto.PmUnitPrice" >
    update pm_unit_price
    set BUILDING_TYPE_ID = #{buildingTypeId,jdbcType=BIGINT},
      PM_UP_PRICE = #{pmUpPrice,jdbcType=REAL},
      ATTRIBUTE1 = #{attribute1,jdbcType=VARCHAR},
      ATTRIBUTE2 = #{attribute2,jdbcType=VARCHAR},
      ATTRIBUTE3 = #{attribute3,jdbcType=VARCHAR},
      ATTRIBUTE4 = #{attribute4,jdbcType=VARCHAR},
      ATTRIBUTE5 = #{attribute5,jdbcType=VARCHAR},
      ATTRIBUTE6 = #{attribute6,jdbcType=VARCHAR}
    where PM_UP_ID = #{pmUpId,jdbcType=BIGINT}
  </update>
</mapper>